.btn-uam {
    background-color: #3CB91A;
    border-color: #3CB91A;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #36a717;
    background-image: -moz-linear-gradient(top,#73F02F,#048204);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#73F02F),to(#048204));
    background-image: -webkit-linear-gradient(top,#73F02F,#048204);
    background-image: -o-linear-gradient(top,#73F02F,#048204);
    background-image: linear-gradient(to bottom,#73F02F,#048204);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3cb91a', endColorstr='#ff2d8c13', GradientType=0);
    border-color: #048204 #048204 #18490a;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-uam:hover,
.btn-uam:focus {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
.btn-uam:hover,
.btn-uam:focus {
    background-color: #048204;
}
.btn-uam:active,
.btn-uam.active,
.btn-uam.active:hover {
    background-color: #35a317;
    border-color: #048204;
}
.btn-uam.disabled:hover,
.btn-uam.disabled:focus,
.btn-uam.disabled:active,
.btn-uam.disabled.active,
.btn-uam[disabled] .btn-uam:hover,
.btn-uam[disabled] .btn-uam:focus,
.btn-uam[disabled] .btn-uam:active,
.btn-uam[disabled] .btn-uam.active {
    background-color: #3CB91A;
    border-color: #3CB91A;
}
