$black: #000000;
$white: #ffffff;
$light-gray: #ebebeb;
$medium-gray: #c2c2c2;
$dark-gray: #3b3b3b;
$green: #8dc63f;

.black { color: $black; }
.white { color: $white; }
.light-gray { color: $light-gray; }
.medium-gray { color: $medium-gray; }
.dark-gray { color: $dark-gray; }
.green { color: $green; }
