@import "mixins";

.footer {
    padding: 20px 0 58px 0;
    background: $dark-gray;
    color: white;

    a {
        @include naked_link();
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
        font-weight: 200;
    }

    p {
        font-size: 14px;
        color: white;
    }

    p.copyright {
        font-size: 14px;
        color: $light-gray;
    }

    ul.list-menu {
        width: 100%;
        margin: 0 auto;
        color: white;
        list-style: none;
        font-size: 14px;
        display: flex;

        a {
            color: white;
        }

        li {
            flex: 1;
            text-align: center;
        }
    }
}