@import "mixins";

* {
    @include proxima();
}
h1, h2, h3, h4, h5, h6 {
    @include proxima-thin();
}
.header > .container {
    margin-top: -40px;
}
.header .navbar-nav {
    float: none !important;
    margin-left: 260px;

    li {
        a {
            text-transform: none !important;
        }
    }
}
.topbar {
    height: 32px;
    margin: 0 auto 40px auto;
    background-color: $dark-gray;

    ul.loginbar {
        list-style: none;
        padding-right: 40px;

        li {
            margin-left: 30px;
            color: $light-gray;
        }
    }
}
.container .navbar-nav li>a.naked-link {
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}
h1 {
    padding-top: 20px;
    font-family: "proxima-nova-condensed", sans-serif;
    font-style: normal;
    font-weight: 100;
    color: $green;
}
h5 {
    font-size: 36px;
    color: $green;
}
.btn-280 {
    min-width: 280px;
    width: 280px;
}
.fullframe {
    width: 100%;
}
.mainframe {
    width: 80%;
    margin: 0 auto;
}
.page-content {
    min-height: 200px;
}
.breadcrumbs {
    height: 44px;
    color: $white;
    background-color: $dark-gray;
    padding: 10px 20px;

    h6 {
        font-size: 19px;
        font-family: "proxima-nova-condensed", sans-serif;
        font-style: normal;
        font-weight: 100;
    }

    a {
        color: $white;
    }

    label {
        display: block;
    }

    .active {
        color: $green;
    }
}
#fader__box {
    height: 540px;
    z-index: 1;

    .fadein {
        position: relative;

        img {
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }

        @keyframes cf3FadeInOut {
            0% {
                opacity:1;
            }
            45% {
                opacity:1;
            }
            55% {
                opacity:0;
            }
            100% {
                opacity:0;
            }
        }

        img.top {
            animation-name: cf3FadeInOut;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 8s;
            animation-direction: alternate;
        }
    }
}
hr.adc-sections {
    width: 700px;
    margin: 18px auto;
    border-top: 1px solid $light-gray;
}
h2.adc-sections {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
}
h2.adc-sections-green {
    color: $green;
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
}
.home-fingertips, .home-submit {
    text-align: center;
    margin-bottom: 36px;

    p {
        width: 76%;
        margin: 0 auto;

        img {
            padding-top: 18px;
        }
    }
}
.green_bar {
    text-align: center;
    z-index: 10 !important;

    img {
        webkit-box-shadow: -1px 15px 35px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 15px 35px -1px rgba(0,0,0,0.75);
        box-shadow: -1px 15px 35px -1px rgba(0,0,0,0.75);
    }
}
.service-blocks {
    margin: -58px 0 30px 0;

    .service {
        .desc {
            margin-left: -14px;

            h4 {
                color: $green;
                @include proxima-thin();
            }

            p {
                img {
                    margin-left: -5px;
                }
            }
        }
    }
}
.owl-clients-v1 {
    display: flex;

    .item {
        flex: 1;
        text-align: center;
        margin-bottom: 36px;
    }
}
a.naked-link {
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}
